@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root {
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
