@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-ms: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 105rem;
}

@custom-variant dark (&:where(.dark, .dark *));

#root {
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}